/* 
##################################################################
Creates variables so colours can be called throughout the css file
##################################################################
*/

:root {
  --dark-blue: #141B41;
  --button-text: #306BAC;
  --button-bg: #6F9CEB;
  --background-theme: #98B9F2;
  --footer-theme: #918EF4;
}

/*
###########
Base styles
###########
*/

html, body {
  width: 100%;
}

body {
  height: 100vh; 
  background-color: var(--background-theme);
}

h1 {
  font-size: 48px;    
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
}

button {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--button-bg);
  border-color: var(--button-text);
  color: var(--dark-blue);
}

button:hover {
  cursor: pointer;
}

/* 
################
Main styles
################
*/

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header, main, footer {
  flex-shrink: 0;
}

.sticky-footer {
  flex: auto;
}

/** Header section
*/

header {
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/** Main section
*/

main {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.display {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.display .text {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 40px;
}

.score {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.player, .computer {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
}

main button {
  padding: 6px 28px;
  min-width:115px;
  border-width: 2px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

/** Footer section
*/

footer {
  min-height: 15px;
  background-color: var(--footer-theme);
}


