/*
#######
Imports
#######
*/

@import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

/* 
#########
Variables
#########
*/

:root {
  --dark-blue: #0f1431;
  --light-blue: #45eafe;
  --pink80s: #f232dd;
  --purple80s: #462bd8;
  --button-text: #306BAC;
  --button-bg: #6F9CEB;
  --footer-theme: #918EF4;
}

/*
###########
Base styles
###########
*/

html, body {
  width: 100%;
}

body {
  height: 100vh; 
  background-color: var(--light-blue);
  font-family: 'Bungee Outline', cursive;
  font-family: 'Share', cursive;
  font-weight: 800;
}

/* 
################
Main styles
################
*/

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header, main, footer {
  flex-shrink: 0;
}

.sticky-footer {
  flex: auto;
}

/** Header section
*/

header {
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header img {
  margin-top: 10px;
  width: 1200px;
}

/** Main section
*/

main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.display {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.feedback {
  font-size: 30px;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 40px;
}

.score {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  color: var(--dark-blue);
  gap: 10px;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-align: center;
}

.choice img {
  width: 60%;
}

.lost img {
  filter: saturate(15%);
  width: 50%;
}

.player, .computer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.buttons {
  display: flex;
  gap: 60px;
}

.buttons button {  
  background-color: var(--light-blue);
  padding: 6px 28px;
  text-align: center;
  width: 150px;
  height: 150px;
  border-width: 2px;
}

.buttons img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

/** Footer section
*/

footer {
  padding: 10px;
  background-color: var(--pink80s);
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer img {
  width: 28px;
  padding-right: 6px;
}

footer a {
  display: flex;
  align-items: center;
}

footer p {
  font-weight: 700;
}




